/* You can add global styles to this file, and also import other style files */
$purple: #4C396F;
$white: #FFFFFF;
$blue: #011F49;
$light-blue: #D0DCE1;
$gray: #595F60;


html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #ECEFF4;
}

table {
    font-family: "Inter", sans-serif;
}

h2, .planet-name {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px
}

.gap-0 {
    gap: 0;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.p-30 {
    padding: 30px;
}

.header {
    background-color: #FFFFFF;
}

.container-fluid {
    padding: 30px;
}

.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    height: 40px;
    min-width: 120px;
}

.btn.btn-purple, .btn.btn-purple:hover {
    background-color: $purple;
    color: $white;
}

.btn.btn-primary, .btn.btn-primary:hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
}

.btn.btn-light, .btn.btn-light:hover {
    background-color: $light-blue;
    border-color: $light-blue;
    color: #125169;
}

.btn.btn-white, .btn.btn-white:hover {
    background-color: transparent;
    border-color: transparent;
    color: $gray
}

.btn.btn-gray, .btn.btn-gray:hover {
    background-color: $gray;
    border-color: $gray;
    color: $white
}

.planet-description {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
}

.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 8px;
}

.mdc-dialog__surface.mat-mdc-dialog-surface {
    background-color: $white;
}

.form-group {
    margin-bottom: 20px;
}

.mat-mdc-header-row.mdc-data-table__header-row {
    height: 40px;
    .mat-sort-header-content {
        font-size: 12px;
        color: #7A7F80;
        line-height: 20px;
    }
}

.mat-mdc-table {
    box-shadow: none;
    td {
        padding: 8px 16px;
    }
    td, th {
        border-color: #DEDFDF;
    }
    .default-table-text {
        font-size: 16px;
        line-height: 20px;
        color: #242626;
    }
}


.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
    border-radius: unset;
    border: none;
    .mat-pseudo-checkbox {
        display: none;
    }
    &.mat-button-toggle-checked {
        border-radius: 4px;
        background-color: $light-blue
    }
}

.separator {
    height: 40px;
    width: 1px;
    background-color: #DEDFDF;
    margin: 0 5px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

