@if (planet()) {
    <div class="container-fluid header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2>{{ planet().planetName }}</h2>
            </div>
            <div class="d-flex gap-20">
                <button type="button" class="btn btn-light" (click)="openEditDialog()">Edit</button>
                <button type="button" class="btn btn-primary" (click)="openDeleteConfirmationDialog()">Delete</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="planet-image-box">
                            @if (planet().imageUrl) {
                                <img [src]="planet().imageUrl" class="planet-image" alt="planet-image">
                            } @else {
                                <div class="planet-color-box"
                                     [ngStyle]="{'background-color': planet().planetColor}"></div>
                            }
                        </div>
                        <div class="d-flex flex-column gap-20">
                            <h5 class="planet-name">{{ planet().planetName }}</h5>
                            <p class="planet-description">{{ planet().description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-row h-100 gap-20">
                    <div class="d-flex flex-column gap-20 flex-fill h-100">
                        <div class="card card-box-height">
                            <div class="card-body gap-0 flex-column justify-content-center">
                                <div class="product-details-value">{{ planet().planetRadiusKM }}</div>
                                <div class="product-details-field">Radius in km</div>
                            </div>
                        </div>
                        <div class="card card-box-height">
                            <div class="card-body gap-0 flex-column justify-content-center">
                                <div class="product-details-value">{{ planet().planetColor }}</div>
                                <div class="product-details-field"> Color</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-20 flex-fill h-100">
                        <div class="card card-box-height">
                            <div class="card-body gap-0 flex-column justify-content-center">
                                <div class="product-details-value">{{ planet().distInMillionsKM?.fromSun }}</div>
                                <div class="product-details-field"> Dist. from sun</div>
                            </div>
                        </div>
                        <div class="card card-box-height">
                            <div class="card-body gap-0 flex-column justify-content-center">
                                <div class="product-details-value">{{ planet().distInMillionsKM?.fromEarth }}</div>
                                <div class="product-details-field"> Dist. from earth</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





